<a href="https://colab.research.google.com/github/LanceAlcala/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Accessing the elements in an Array
animals = ["cat","dog","fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)
print("Array[2] =",z)

Array[0] = cat
Array[1] = dog
Array[2] = fish

In [10]:
#Modifying the element/s in an Array
animals = ["cat","dog","fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] =",x)
print(animals)

Array[0] = monkey
['monkey', 'dog', 'fish']

In [14]:
#Length of an Array
animals = ["monkey","dog","fish","cat","birds"]
v = len(animals)
print(v)

5

In [23]:
#Looping Array Elements
animals = ["monkey","dog","fish","cat","birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [22]:
#my try
#Looping Array Elements
animals = ["monkey","dog","fish","cat","birds"]
for x in animals:
  if x is "monkey":
    print("Array[0]",x)
  elif x is "dog":
    print("Array[1]",x)
  elif x is "fish":
    print("Array[2]",x)
  elif x is "cat":
    print("Array[3]",x)
  elif x is "birds":
    print("Array[4]",x)

Array[0] monkey
Array[1] dog
Array[2] fish
Array[3] cat
Array[4] birds

In [24]:
#Adding Elements in the Array
animals = ["monkey","dog","fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [29]:
#Write a python program to insert a new item ('11') before the second element in an existing array.
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
#Removing an Element in the Array
print(numbers)
numbers.pop(1)
print()

[1, 3, 4, 5, 6, 7, 8, 9, 10]